### Flutter ###
# Flutter/Dart/Pub related
**note_app/doc/api/
note_app/.dart_tool/
note_app/.flutter-plugins
note_app/.flutter-plugins-dependencies
note_app/.fvm/flutter_sdk
note_app/.packages
note_app/.pub-cache/
note_app/.pub/
note_app/build/
note_app/coverage/
note_app/lib/generated_plugin_registrant.dart
# For library packages, don’t commit the pubspec.lock file.
# Regenerating the pubspec.lock file lets you test your package against the latest compatible versions of its dependencies.
# See https://dart.dev/guides/libraries/private-files#pubspeclock
#pubspec.lock

# Android related
**/note_app/android/**/gradle-wrapper.jar
**/note_app/android/.gradle
**/note_app/android/captures/
**/note_app/android/gradlew
**/note_app/android/gradlew.bat
**/note_app/android/key.properties
**/note_app/android/local.properties
**/note_app/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/note_app/ios/**/*.mode1v3
**/note_app/ios/**/*.mode2v3
**/note_app/ios/**/*.moved-aside
**/note_app/ios/**/*.pbxuser
**/note_app/ios/**/*.perspectivev3
**/note_app/ios/**/*sync/
**/note_app/ios/**/.sconsign.dblite
**/note_app/ios/**/.tags*
**/note_app/ios/**/.vagrant/
**/note_app/ios/**/DerivedData/
**/note_app/ios/**/Icon?
**/note_app/ios/**/Pods/
**/note_app/ios/**/.symlinks/
**/note_app/ios/**/profile
**/note_app/ios/**/xcuserdata
**/note_app/ios/.generated/
**/note_app/ios/Flutter/.last_build_id
**/note_app/ios/Flutter/App.framework
**/note_app/ios/Flutter/Flutter.framework
**/note_app/ios/Flutter/Flutter.podspec
**/note_app/ios/Flutter/Generated.xcconfig
**/note_app/ios/Flutter/app.flx
**/note_app/ios/Flutter/app.zip
**/note_app/ios/Flutter/flutter_assets/
**/note_app/ios/Flutter/flutter_export_environment.sh
**/note_app/ios/ServiceDefinitions.json
**/note_app/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/note_app/ios/**/default.mode1v3
!**/note_app/ios/**/default.mode2v3
!**/note_app/ios/**/default.pbxuser
!**/note_app/ios/**/default.perspectivev3
!/note_app//packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# IDE/Editor specific files
note_app/.idea/
note_app/.vscode/
note_app_backend/.vscode/
*note_app/.iml
*note_app/.ipr
*note_app/.iws
*note_app_backend/.iml
*note_app_backend/.ipr
*note_app_backend/.iws

# Miscellaneous
*note_app_backend/.log
*note_app/.log
note_app_backend/.DS_Store
note_app/.DS_Store
note_app_backend/Thumbs.db
note_app_/Thumbs.db
.DS_Store
./Thumbs.db

### Node ###
# Logs
note_app_backend/logs
*note_app_backend/.log
note_app_backend/npm-debug.log*
note_app_backend/yarn-debug.log*
note_app_backend/yarn-error.log*
note_app_backend/lerna-debug.log*
note_app_backend/.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
note_app_backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
note_app_backend/pids
*note_app_backend/.pid
*note_app_backend/.seed
*note_app_backend/.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
note_app_backend/lib-cov

# Coverage directory used by tools like istanbul
note_app_backend/coverage
*note_app_backend/.lcov

# nyc test coverage
.note_app_backend/nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.note_app_backend/grunt

# Bower dependency directory (https://bower.io/)
note_app_backend/bower_components

# node-waf configuration
.note_app_backend/lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
note_app_backend/build/Release

# Dependency directories
note_app_backend/node_modules/
note_app_backend/jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
note_app_backend/web_modules/

# TypeScript cache
*note_app_backend/.tsbuildinfo

# Optional npm cache directory
note_app_backend/.npm

# Optional eslint cache
note_app_backend/.eslintcache

# Optional stylelint cache
note_app_backend/.stylelintcache

# Microbundle cache
note_app_backend/.rpt2_cache/
note_app_backend/.rts2_cache_cjs/
note_app_backend/.rts2_cache_es/
note_app_backend/.rts2_cache_umd/

# Optional REPL history
note_app_backend/.node_repl_history

# Output of 'npm pack'
*note_app_backend/.tgz

# Yarn Integrity file
note_app_backend/.yarn-integrity

# dotenv environment variable files
note_app_backend/.env
note_app_backend/.env.development.local
note_app_backend/.env.test.local
note_app_backend/.env.production.local
note_app_backend/.env.local

# parcel-bundler cache (https://parceljs.org/)
note_app_backend/.cache
note_app_backend/.parcel-cache

# Next.js build output
note_app_backend/.next
note_app_backend/out

# Nuxt.js build / generate output
note_app_backend/.nuxt
note_app_backend/dist

# Gatsby files
note_app_backend/.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
note_app_backend/.vuepress/dist

# vuepress v2.x temp and cache directory
note_app_backend/.temp

# Docusaurus cache and generated files
note_app_backend/.docusaurus

# Serverless directories
note_app_backend/.serverless/

# FuseBox cache
note_app_backend/.fusebox/

# DynamoDB Local files
note_app_backend/.dynamodb/

# TernJS port file
note_app_backend/.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
note_app_backend/.yarn/cache
note_app_backend/.yarn/unplugged
note_app_backend/.yarn/build-state.yml
note_app_backend/.yarn/install-state.gz
note_app_backend/.pnp.*

### Node Patch ###
# Serverless Webpack directories
note_app_backend/.webpack/

# Optional stylelint cache

# SvelteKit build / generate output
note_app_backend/.svelte-kit